graphviz==0.20.1
intervaltree==3.1.0
jsonpickle==2.2.0
lxml==4.9.1
matplotlib==2.2.2
mpmath==1.2.1
Pillow==6.1.0
ply==3.11
pm4py==2.2.26
pyvis==0.2.1
torch==0.4.1
torchvision==0.2.1
python
pandas
numpy
seaborn
scikit-learn
jupyter